@model Product
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h6 class="display-6">
                @Model.ProductName
            </h6>
            <p class="lead">@Model.UnitPrice.ToString("c")</p>
        </div>
    </div>
</div>
<div class="text-center">
    <div class="btn-group">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
            <i class="fa-solid fa-house"></i>
            Home
        </a>
        <form method="post" asp-page="/cart" id="@Model.ProductId">
            <input type="hidden" asp-for="ProductId" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" class="btn btn-outline-success">
                <i class="fa-solid fa-cart-plus"></i>
                Add to Cart></button>
        </form>
        <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">
            <i class="fa-solid fa-list"></i>
            Products
        </a>
    </div>
</div>
