@model List<Category>
<script>
    @Html.Raw(ViewBag.ConsoleLogScript)
</script>
@section Scripts
{
    <script>
        $(document).ready(function () {
            // li elementlerine hover eklendiğinde
            $('li').hover(
                function () {
                    $(this).addClass('active'); // active sınıfını ekle
                },
                function () {
                    $(this).removeClass('active'); // active sınıfını kaldır
                }
            );
        });
    </script>
}
<div class="text-center my-3">
    <h6 class="display-6">
        Categories
    </h6>
    @foreach (Order order in ViewBag.Orders)
    {
        <h1 class="display-6">
            @order.OrderDetails?.Count
        </h1>
    }
</div>
<ul class="list-group my-3">
    @foreach (Category category in Model)
    {
        string base64String = Convert.ToBase64String(category.Picture);
        string imageSrc = string.Format("data:image/png;base64,{0}", base64String);

        <li class="list-group-item">
            @category.CategoryName
            <img src="@imageSrc" alt="Photo" />
        </li>
    }
</ul>
