@page "getintouch"
<div class="text-center border my-5 rounded">
    <div class="display-6">
        Contact
    </div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            Alo 120
        </p>
        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>
            Pamukkale/Denizli
        </p>
        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>
            celilvural30@gmail.com
        </p>
    </div>
</div>