@if (TempData["info"] is not null)
{
    <div class="alert alert-info my-5" role="alert">
        @TempData["info"]
    </div>
}
@if (TempData["success"] is not null)
{
    <div class="alert alert-success my-5" role="alert">
        @TempData["success"]<!--bir kere okunduktan sonra veri kaybolur-->
    </div>
}
@if (TempData["danger"] is not null)
{
    <div class="alert alert-danger my-5" role="alert">
        @TempData["danger"]
    </div>
}